<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/main.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="/Semantic-UI-CSS-master/semantic.min.css"
    />

    <title>MIPS Simulator</title>
  </head>

  <body style="background: #100e17;">
    <div
      class="ui inverted segment"
      style="background-color: #17141d; color: white;"
    >
      <div class="ui inverted secondary pointing menu">
        <div>
          <h1>
            <i class="microchip icon" style="color: #ff8a00;"></i>MIPS Simulator
          </h1>
        </div>
        <div class="right menu">
          <div class="item">
            <h2 id="cycles">
              <i class="sync alternate icon cyclesIcon"></i> Cycles:
              <%=data.cycles%>
            </h2>
          </div>
          <div class="item">
            <h2 id="stalls">
              <i class="ban icon banIcon"></i> Stalls: <%=data.stalls%>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="timeline">

    

    <table class="ui inverted celled purple table" style="font-size: 1.4rem; margin-top: 2rem;" >
      <thead>
        <tr>
          <th>Instruction</th>
          <%for(let i=0;i<data.cycles;i++){%>
            <th><%=(i+1)%></th>
          <%} %>
        </tr>
      </thead>
      <tbody>
        <% let finalCycleData=JSON.parse(data.cycle_data);
    console.log(finalCycleData);
    console.log("hello");
    let timelineData=[];
    let instructionsExecuted=[]

     for(let i=0;i<data.cycles;i++){
       let currentCycle=[]
       for(let j=0;j<data.numberOfInstructions;j++){
         currentCycle.push("");
       }
       //console.log(currentCycle);
       timelineData.push(currentCycle);
     }



    //console.log(timelineData);
    for(let i=0;i<data.cycles;i++){
      let j=0;
      for(let k=0;k<(finalCycleData[i]).length;k++){
        //console.log(finalCycleData[i][k].instruction);
        console.log(timelineData[i][j])
        if(timelineData[i][j]=="")
        {
          if(finalCycleData[i][k].stage=="IF"){
            instructionsExecuted.push(finalCycleData[i][k].instruction);
          }

          timelineData[i][j]=finalCycleData[i][k].stage;
          if(finalCycleData[i][k].stage=="WB"){
          for(let r=(i+1);r<data.cycles;r++){
            timelineData[r][j]=".";
          }
        }
          if(finalCycleData[i][k].stage=="ID/RF" && (((finalCycleData[i][k].instruction)[0]=="beq") || ((finalCycleData[i][k].instruction)[0]=="j"))){
          for(let r=(i+1);r<data.cycles;r++){
            timelineData[r][j]=".";
          }
        }
          j++;
        }else{
          j++;
          k--;
          
        }
      }
      // let found=false;
      //   finalCycleData[i].forEach((el)=>{
      //     currentCycle.push(el.stage);
      //     if(el.stage=="IF"){
      //       instructionsExecuted.push(el.instruction);
      //     }
      //     if(el.stage=="WB"){
      //       breaks++;
      //     }
      //     if(el.stage=="ID/RF"){
      //       if((el.instruction)[0]=="beq" || (el.instruction)[0]=="j"){
              
      //     }

      //   })
    }
    //console.log(timelineData);
    console.log(instructionsExecuted);

    for(let i=0;i<data.numberOfInstructions;i++){ %>
      <tr>
        <td><%=instructionsExecuted[i].join(" ")%></td>
        <% for(let j=0;j<data.cycles;j++){%>

          <td><%=(timelineData[j][i]!=='.')?timelineData[j][i]:""%></td>
          <%
        }
        %>
      </tr>
<%
    }

     %>

      </tbody>
    </table>
  </div>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="/Semantic-UI-CSS-master/semantic.min.js"></script>
  </body>
</html>
